doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/admin.js')
  title SSNoC - Admin
  body
    include includes/navbar.jade
    br
    br
    if ( typeof users !== 'undefined' && users !== null )
      div.container
        form(action='/admin', method='post')
          select(name='existing_user')
            each user in users
              option(value=user.local.name) #{user.local.name}
          button(type="submit" class="btn btn-info btn-lg" id="selectUser") Select
    if ( typeof user !== 'undefined' && user !== null )
      h2 Update User
      div.container
        form(action='/updateuser', method='post')
          input.existing_name.form-control(id="existing_user" type="hidden" class='form-control' name='existing_user' value=user.local.name)
          div.form-group
            input.name.form-control(id="user_name" type="text" class='form-control' name='user_name' value=user.local.name)
          div.form-group
            input.password.form-control(id="password" type="password" class='form-control' name='password' placeholder="")
          div.form-group
            input.password.form-control(id="privilege_level" type="text" class='form-control' name='privilege_level' value=user.local.privilegeLevel)
          div.form-group
            input.password.form-control(id="account_status" type="text" class='form-control' name='account_status' value=user.local.accountStatus)
          button(type="submit" class="btn btn-info btn-lg" id="updateUser") Update
      
    