doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/admin.js')
  title SSNoC - Admin
  body
    include includes/navbar.jade
    br
    br
    if ( typeof users !== 'undefined' && users !== null )
      div.container
        form(action='/admin', method='post')
          select(name='existing_user')
            each user in users
              option(value=user.local.name) #{user.local.name}
          button(type="submit" class="btn btn-info btn-lg" id="selectUser") Select
    if ( typeof user !== 'undefined' && user !== null )
      div.container
        form(action='/updateuser', method='post')
          li= user.local.name
          li= user.local.privilegeLevel
          li= user.local.accountStatus
          button(type="submit" class="btn btn-info btn-lg" id="updateUser") Update
      
    