doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/monitor.js')
  title SSNoC - People
  body
    include includes/navbar.jade
    div.container
      br
      h3 Measure Performance
      div.signup
        br
        form(action='/startperf', method='post', class='form-group')
          div.col-md-6
            input.name(type='text' class='form-control' name='location' id='location' placeholder="Enter performance test duration (seconds)")
          div.col-md-3
            button(type="submit" class="btn btn-primary" id="startPerfTestBtn") Start Performance Test
        br
        form(action='/stopperf', method='post', class='form-group')
          div.col-md-3.col-md-offset-6
            button(type="submit" class="btn btn-primary" id="stopPerfTestBtn") Stop Performance Test
      br
      h3 Measure Memory
      div.signup
        br
        div.row
          div.col-md-6
            form(action='/startmem', method='post', class='form-group')
              div.col-md-6.col-md-offset-3
                button(type="submit" class="btn btn-primary" id="startMemoryTestBtn") Start Memory Test
          div.col-md-6
            form(action='/stopmem', method='post', class='form-group')
              div.col-md-6.col-md-offset-3
                button(type="submit" class="btn btn-primary" id="stopMemoryTestBtn") Stop Memory Test
      div.container
      br
      br
      if ( typeof memories !== 'undefined' && memories !== null )
        table.table
          thead
            tr
              th Time
              th Used Vol Mem
              th Rem Vol Mem
              th Used Pers Mem
              th Rem Pers Mem
          tbody
            each memory in memories
              if typeof memory !== 'undefined'
                tr
                  td #{memory.local.created_at}
                  td #{memory.local.used_volatile_mem}
                  td #{memory.local.rem_volatile_mem}
                  td #{memory.local.used_persistent_mem}
                  td #{memory.local.rem_persistent_mem}
                  